{% assign conact = site.home.contact %}
{% if conact.enabled %}
<section class="section contact" id="contact">


    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-5">
                <div class="sec-heading2">
                    <h6 class="text-white">{{conact.badgeTitle}}</h6>
                    <h2 class="text-white">{{conact.title}}</h2>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-5 col-sm-12">


                <div class="contact-info">
                    <h3>Address:</h3>
                    <ul class="lists">
                        <li>
                            <i class="fa fa-map-marker"></i> <span>{{site.address}}</span>
                        </li>
                    </ul>
                </div>

                {% if site.call-chat.enable %}
                <div class="contact-info">
                    <h3>Call/Chat:</h3>
                    <ul class="lists">
                        {% for items in site.call-chat.items %}
                            <li>
                                <a href="{{items.link}}"><i class="{{items.icon}}"></i> <span>{{items.title}}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% endif %}

                {% if site.email %}

                <div class="contact-info">
                    <h3>Email:</h3>
                    <ul class="lists">
                        <li>
                            <a href="mailto:{{site.email}}"><i class="fa fa-envelope-square"></i> <span>{{site.email}}</span></a>

                        </li>
                    </ul>
                </div>
                {% endif %}

                {% if site.social.enable %}
                <div class="contact-info">
                    <h3>Social Media:</h3>
                    <ul class="lists">
                        {% for social in site.social.items %}
                            <li>
                                <a href="{{social.link}}"><i class="{{social.icon}}"></i> <span>{{social.title}}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% endif %}

                {% if site.apps.enable %}
                    <div class="contact-info">
                        <h3>Download:</h3>
                            {% for social in site.apps.items %}
                                <a href="{{social.link}}"><img src="{{social.icon}}"  class="{{social.icon}}"></i></a>

                            {% endfor %}

                    </div>
                {% endif %}
            </div>

            <div class="col-md-7 col-sm-12">
                <div class="formBox" >
                    <form class="w-100" method="post">


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <label for="name">Name <span>*</span></label>
                                        <input id="name" type="text" name="name" class="input" required>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <label for="phone_number">Phone Number <span>*</span></label>
                                        <input id="phone_number" type="tel" name="phone_number" class="input" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>

                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <label for="email">Email </label>
                                        <input id="email" type="email" name="email" class="input">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <label for="school">School </label>
                                        <input id="school" type="text" name="school" class="input">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea id="message" name="message" rows="6" class="input"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-sm-12">
                                    <p class="font-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div> -->

<!--
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <input type="checkbox" name="agree" class="input" id="agree" required>
                                    <label for="agree" class="font-sm">I agree to receive other communications from fututreapp. <span>*</span></label>

                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" name="" class="btn btn-submit" value="Send Message" id="subContact">
                                </div>
                            </div>


                            <div class="row mt-3 message-submit messages" >
                                <div class="col-sm-12">
                                    <div class="alert alert-success" role="alert">
                                        Thank you for contacting us – we will get back to you soon!
                                      </div>
                                </div>
                            </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

{% endif %}
