{% assign topbar = site.home.top-bar %}

<section class="header-area" id="home">
    {% if topbar.enabled %}
    <div class="top-bar">        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-bar-wrap">
                        <div class="top-bar-left">
                            <div class="top-bar-text">{{topbar.left}}</div>
                        </div>
                        <div class="top-bar-right">
                            <ul class="top-bar-info text-center text-md-left">
                                {% for lists in topbar.right%}
                                    <li class="info-item">
                                        {% if lists.link %}
                                        <a href="{{lists.link}}" class="info-link">
                                            <i class="info-icon {{lists.icon}}"></i>
                                            <span class="info-text">{{lists.title}}</span>
                                        </a>
                                        {% else %}
                                        <i class="info-icon {{lists.icon}}"></i>
                                        <span class="info-text">{{lists.title}}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% include menu.html %}
</section>