{% assign help = site.home.help %}
{% if help.enabled %}

<section class="section help pb-0">
    <div class="container">        
        <div class="row">
            <div class="col-md-12 text-center mb-5">
                <div class="sec-heading2">  
                    <h6 class="">{{help.badgeTitle}}</h6>                  
                    <h2 class="">{{help.title}}</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="mb-4 text-center">{{help.info}}</p>
                <div class="text-center">
                    <img src="{{help.image}}" alt="{{help.title}}" class="img-fluid">
                </div>
                
            </div>
        </div>
    </div>
</section>

{% endif %}