{% assign hero = site.home.hero %}
<section class="hero wrapper" >
    <div class="container-fluid" id="main-content">
        <div class="row">
            <div class="col-12 px-0">
                <section class="section-vertical-align section-real-time big-text" id="hero-banner"
                data-current-type="italian"
                data-rest-style="yellow">
                <div class="vertical-align-box container">
                  <div class="inner-box">
                    <div class="content-wrap">
                      <h1 class="section-title" data-hero-title>
                        The All-in-One 
                        Educational Apps for
                        <span class="hero-type-box"><span  class="faster">School</span>
                          <!-- <span data-rest-name class="faster">School</span> <span class="hero-fix-el">restaurant</span> -->
                          </span>
                      </h1>
                      <!-- <p class="section-desc">
                        Delight customers with your own online ordering website and
                        driver tracking.
                      </p> -->
                      <ul class="list-inline btns">
                        {% for social in site.apps %}
                          <li class="list-inline-item">
                            <a href="{{social.link}}"><img src="{{social.icon}}"  class="{{social.icon}}"></i></a>
                          </li>
                        {% endfor %}

                      </ul>
                    </div>
                  </div>
                </div>

                
                    
          <div class="real-time-bg-box ">
            <div class="left-img-box desktop-container">
             
              <div class="bottom-img img-box">
                  
                <div class="real-iPhone-wrap">
                    <div class="real-iPad-wrap">
                        <div class="real-iPad-box">
                          <div class="real-iPad-inner hero-real-img-box">
                            <img src="img/home/das-image-2.png" alt="" />
                          </div>
                        </div>
                      </div>
                </div>

              </div>
            </div>


            <div class="right-img-box ipad-container">
              <div class="top-img img-box">
               

                <div class="real-iPad-wrap">
                    <div class="real-iPad-box">
                      <div class="real-iPad-inner hero-real-img-box">
                        <img src="img/home/ipad-b-image-2.png" alt="" />
                      </div>
                    </div>
                  </div>
              </div>
              <div class="bottom-img img-box delay-800ms">
                <div class="real-iPad-wrap">
                  <div class="real-iPad-box">
                    <div class="real-iPad-inner hero-real-img-box">
                      <img src="img/home/ipad-s-image-2.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="bottom-img-box mobile">
              <div class="left-img img-box">
                <div class="real-iPhone-wrap">
                  <div class="real-iPhone-box">
                    <div class="real-iPhone-inner hero-real-img-box">
                      <img src="img/home/mobile-image-2.png" alt="" />
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>


          </div>




                <span
                  data-rest-width
                  class="hero-rest-type section-title"
                  data-hero-title
                ></span>
                <script id="restaurants-data" type="application/json">
                  {
                    "restaurants": [
                    
                   
                    {
                      "type": "School",
                      "style": "yellow",
                      "img_arr": [
                        "img/home/das-image-2.png",
                        "img/home/ipad-b-image-2.png",
                        "img/home/ipad-s-image-2.png",
                        "img/home/mobile-image-2.png"
                      ]
                    },
                    {
                      "type": "School2",
                      "style": "blue",
                      "img_arr": [
                        "img/home/das-image-3.png",
                        "img/home/ipad-b-image-3.png",
                        "img/home/ipad-s-image-3.png",
                        "img/home/mobile-image-3.png"
                      ]
                    }
                   
                                       
                    ]
                  }
                </script>
              </section>
            </div>
        </div>
    </div>

</section>

