---
---

//
// IMPORTS
//


@import "_reset";
@import "_variables";
@import "_hero";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/1.8 $font-family-base ;
  color: $darkerGray;
  font-weight: 500;
  scroll-behavior: smooth;
  position: relative;
  @include mobile{    
    font: 14px/1.6 $font-family-base ;
  }
}
a:hover{
  color: $primary;
  text-decoration: none;
}

.bg-gray{
  background: $lightGray;
}

/**************/
/* HEADER RULES */
/**************/
.header-area{
  background: $white;
}

.top-bar{
  background: $lightGray;
  padding: 2px 0px;
  .top-bar-wrap {
      display: flex;
      align-items: center;
      strong{
        font-weight: 600;
      }
      .top-bar-left {
        flex-grow: 1;
      }
      .top-bar-text {
        font-size: 14px;
        line-height: 1.78;
      }
  }
  .top-bar-info{
    li{
      display: inline-block;
      margin-left: 15px;
      font-size: 14px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  a{
    color: $darkerGray;
    &:hover{
      color:$primary;
    }
  }

}

.navbar-brand{
  padding-bottom: 0px;
  img{
    max-width: 60px;
  }
} 
/**************/
/* Menu RULES */
/**************/
.menu-list{
  padding-top: 0px;
  padding-bottom: 0px;
  ul{
    li.nav-item{
      padding: 0px 10px;
      position: relative;

      a.nav-link{
        font-family: $font-family-heading;        
        font-weight: 600;
        font-size: 14px;
        color: $darkerGray;

        &:hover{
          color: $primary;
        }
      }

      &.active{
        a.nav-link{
          color: $primary;
        }        
      }

      &.bod-left{
        margin-left: 15px;
        &:before{
          width: 1px;
          height: 80%;
          background: $gray;
          content: "";
          position: absolute;
          left: 0px;
          margin: auto 0px;
          bottom: 0px;
          top: 0px;
        }
        @include mobile {
          &:before{
            display: none;
          }
        }
        
      }

      &.btn.btn-light{
        background-color: #e5f1fb;
        color: $primary;

        &:hover{          
          background-color: $primary;
          color: $white;
          a{
            color: $white;
          }
        }
      }

    }
  }
}

.hero{
  background: #212c86;
  // height: 745px;
}

.hero-inner h1{
  color: #fff;
  // font-size: 32px;
}

.section{
  padding: 40px 0px;  
  p{
    margin-bottom: 15px;
  }
}

.sec-heading{
  margin-bottom: 20px;
  h2{
    color: $primary;
    font-family: $font-family-heading;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    @include mobile{
      font-size: 36px;
    }

    &.weight-400{
      font-weight: 400;
    } 
    &.trans-normal{
      text-transform: none;
    }
  }
  h3{
    color: $darkerGray;
    font-family: $font-family-heading;
    font-size: 22px;
    line-height: 1.3em;
    font-weight: 500;
    @include mobile{
      font-size: 19px;
    }

    span{
      color: $primary;
    }
  }
}

.sec-heading2{
  @extend .sec-heading;
  h2{
    color: $black;
    font-size: 32px;
    text-transform: none;
    span{
      color: $primary;
    }
  }
  h6{
    font-size: 16px;
    color: $primary;
    font-weight: 800;
    text-transform: uppercase;
  }
}

.rv-video-section{
  position: relative;

  .ht-banner{
    position: relative;
  }
  .main-video-box {
    position: relative;
    z-index: 8;
    text-align: center;
    max-width: 570px;
    max-height: 350px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 180px;
  }
  .video-link {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: block;
    margin-top: 30px;
  }
  .single-popup-wrap {
      position: relative;
      img{
        border-radius: 5px;
      }
  }
}


 // Video icon
 .video-icon{
  position: absolute;
  position: absolute;
  right: 45%;
  top: 52%;
  transform: translateY(-48%);

  a{
      background: $primary;
      color: #ffff;
      width: 60px;
      height: 60px;
      display: inline-block;
      text-align: center;
      line-height: 60px;
      border-radius: 50%;
       &::after{
          position: absolute;
          border: 70px solid rgba(51, 62, 152,.1);
          content: "";
          border-radius: 50%;
          left: -39px;
          top: -38px;
          right: 0;
          z-index: 0;
          background: #0000;
      }
      i{
          font-size: 20px;
          font-size: 20px;
          line-height: 1;
          position: relative;
          right: -2px;
          top: 2px;
      }
  } 
  // btn Animated Style
  a.btn-icon{
      position: relative;
    &::before{
      content: '';
      display: inline-block;
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      border-radius: inherit;
      border: 1px solid $primary;
      -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
      animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
    }
    /* Animations */
      @-webkit-keyframes btnIconRipple { 
          0% { border-width: 4px;
              -webkit-transform: scale(1);
              transform: scale(1); }
          50% { 
              border-width: 1px;
              -webkit-transform: scale(1.50);
              transform: scale(1.50); 
              }
          80% { 
              border-width: 1px;
              -webkit-transform: scale(1.90);
              transform: scale(1.90); 
              }
          100% { 
              opacity: 0; }
          }
      /* End Animated */
      &:hover{
          // background: #c6a16e;
          background: $helping;
          color: #fff;
      }
  }
}

.counter{
  height: 345px;
}

.bgcover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.approch-box{
  .bg-heading{
    font-family: $font-family-heading;
    color: $black;
    background: url(/assets/images/approch-heading.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 8px 10px;
    background-position: center;
    font-weight: 700;
    text-transform: uppercase;
  }
  .icon{
    margin: 20px 5px;
    img{
      // width: 60px;
    }

    @include mobile{      
      margin: 10px 5px;
    }
  }
  .image{
    margin-bottom: 30px;
  }


}



.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}



.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}


.fun-fact-area .area-bg::after {
  background: #000000 none repeat scroll 0 0;
  opacity: 0.6;
}

.single-fun-fact{
  text-align: center;
  .icon{
    border: 1px solid #333e98;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  h3{
    font-size: 40px;
    font-weight: 800;
    color: $helping;
    font-family: $font-family-heading;
    text-align: center;
  }
}
  
.testimonial-slider{
  position: relative;
  background: #fff;
  padding: 31px 50px 47px;
  border-radius: 5px;
  margin: 20px 15px 35px;
  box-shadow: 0 0 20px rgba(51, 51, 51,  .3);
  transition: all 0.3s ease-in-out;
  transform: translateY(0px) !important;
  // min-height: 467px;
  .author-info{
    text-align: left;
    .name{
      font-weight: 700;
    }
  }

  .testimonial-slider--info{
    align-items: center;
    margin-bottom: 22px;
    display: flex;
      .testimonial-slider__media {
        flex-shrink: 0;
        margin-right: 30px;
        max-width: 80px;
        max-height: 90px;
        img {
          border-radius: 50%;
        }
      }
  }
}

.slick-dots {
  text-align: center;
  li{
    border: 0px;
    text-indent: -9999px;
    background: $gray;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin:0px 2px;

    &.slick-active{      
      background: $primary;
    }
  }
}

.contact{
  background-color: $primary;
  background-image: url(/assets/images/map.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.formBox{
  color: $white;
  .form-group{
    color: $white;
    label{
      display: block;
      font-size: 14px;
      span{
        color: $helping;
        font-size: 20px;
      }
    }
    .input{
      width: 100%;
      background: transparent;
      border: 2px solid #fff;
      border-radius: 6px;
      outline: none;
      height: 50px;
      color: #fff;
      padding: 10px;
      font-size: 14px;
    }
    textarea.input{
      height: auto;
    }
  }
  .input[type="checkbox"]{
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    background: transparent !important;
    color: transparent !important;
    border-radius: 4px;
  }
}

.font-sm{
  font-size: 13px;
}

.btn-submit{
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: 8px 20px;
  &:hover{
    background: $white;
    color: $primary;

  }
}

.btn-border{
  @extend .btn-submit;
  color: $primary;
  border-color: $primary;

  &:hover{
    
    background: $primary;
    color: $white;
  }
}
.contact-info{
  margin-bottom: 15px;
  h3{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  img{
    max-width: 170px;
  }

  .lists{
    color: #fff;

    span{
      margin-left: 10px;
    }
    li{
      a{
        color: $white;
        
        &:hover{
          color: $helping;
        }
      }
    }
  }
}

footer{
  background: $black;
  color: $white;
  font-size: 14px;
  h3{
    font-size: 24px;
    margin-bottom: 15px;
  }

  .foot-link{
    li{
      line-height: 2.5em;
      a{
        color: $white;
        font-size: 14px;
        &:hover{
          color: $helping;
        }
      }
    }
  }
}

.btn-helping{
  background: $helping;
  border-radius: 4px;

  &:hover{
  background: $primary;
  color: $white;

  }
}

.nav-tabs{
  &.nested li{  
    a{
      border: 0px;
      background-color: transparent;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      color: #5d5d5d;
      position: relative;
      padding: 8px 25px;

      @include mobile {
        font-size: 13px;
        padding: 8px 8px;
      }
  
      &:hover, &.active{
        border: 0px;
        background-color: transparent;
        color: #333e98;
        border-bottom: 1px solid #333e98;
  
        &::before{
          content: "\f107";
          height: 20px;
          font-family: fontawesome;
          margin: 0 auto;
          color: #333e98;
          font-size: 25px;
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: -1px;
          width: 20px;

          @include mobile {            
            bottom: -3px;
          }


        }
      }
    }
  
  } 

  &.vertical{
    border: 0px;
    li{
      @include mobile {            
        display: inline-block !important; 
      }
      a{
        border: 0px;
        background-color: transparent;
        font-size: 16px;
        color: #5d5d5d;
        position: relative;
        padding-left: 0px;
        .icon{
          margin-right: 10px;
        }

        &:hover, &.active{
          border: 0px;
          background-color: transparent;
          color: #060606;
          // border-right: 1px solid #333e98;

          &::before{
            height: 100%;
            content: "\f0d9";
            position: absolute;
            right: -17px;
            margin: auto;
            top: 0px;
            bottom: 0px;
            font-family: fontawesome;
            border-right: 1px solid #333e98;
            text-align: center;
            line-height: 2.8em;
          }
        }
        &.active{font-weight: 600;}
    

      }
    }

  }
  

}

.tab-left{
  border-right: 2px solid #e6e6e6;
}


.echosystem{
  .parentTabs {
    
  h3{
    font-size: 32px;

  }
    
  }
}

.message-submit{
  display: none;
  &.show-messsage{
  display: block;

  }
}